<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand page-scroll" href="#home">{{ site.title }}</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
		  		<li>
					<a class="page-scroll" href="#home">Home</a>
				</li>
            	<li>
                    <a class="page-scroll" href="#about">About</a>
                </li>            
                <li>
                    <a class="page-scroll" href="#services">Services</a>
                </li>
                <li>
                    <a class="page-scroll" href="#contact">Contact</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>

<section id="home">
<!-- Header -->
	<div class="intro-header">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="intro-message">
						<h1>{{ page.title }}</h1>						
						<h3>{{ page.subTitle }}</h3>
						<hr class="intro-divider">
						<h2 style="margin:20px 0;">
							We Build Web Sites and Applications for Our Clients and Ourselves
						</h2>					
					</div>
				</div>
			</div>

		</div>
		<!-- /.container -->

	</div>
	<!-- /.intro-header -->
	<div class="container text-center">
		<div class="row">
		    <div class="col-lg-12">
		      	
		  	</div>
		</div>
	</div>
	<div class="content-section-b">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
					<hr class="section-heading-spacer">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">
						Our Strength
					</h2>
					<div class="lead">
						<ul class="list-icon">
							<li>
								<i class="material-icons">lightbulb_outline</i>
								<span>Meldings of Strategic Insights</span>
							</li>
							<li>
								<i class="material-icons">thumb_up</i>
								<span>Exceptional User Experiences</span>
							</li>
							<li>
								<i class="material-icons">build</i>
								<span>Deep Technology Skills</span>
							</li>
						</ul>
					</div>
                </div>
                <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                    <img class="img-responsive" src="img/diagram-2.png" alt="">
                </div>
            </div>

        </div>
        <!-- /.container -->

    </div>
</section>
